@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  background-color: black;
  overflow: hidden;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button {
  background-color: #000000;
  width: 350px;

  box-shadow: 5px 0 7px -5px rgba(35, 35, 35, 0.7),
    -5px 0 7px -5px rgba(35, 35, 35, 0.7);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.Row {
  display: flex;
  justify-content: center;
}

.bg {
  margin: 3rem;
  font-family: 'Roboto', sans-serif;
  content: 'Background text';
  position: absolute;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background: -webkit-radial-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  top: 100;
  left: 100;
  z-index: -1;
  font-size: 300px !important;
}

.footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.1);
}

.footer p {
  margin: 0;
}
