@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.Input {
  height: 10em;
  display: flex !important;
  justify-content: center !important;
  align-items: end !important;
  flex-direction: column !important;
  padding: 16px;
}

.Result {
  /* display: flex !important;
  justify-content: center !important;
  align-items: end !important; */
  /* flex: 1; */
  display: flex;
  justify-content: center;
  flex: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: white;
  background-color: black;
  border: none;
  caret-color: black;
  outline: none;
  text-align: center;
}

.Text {
  display: flex;
  justify-content: center;
  flex: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: white;
}
