@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  background-color: black;
}

.App {
  padding-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button {
  background-color: black;
  width: 300px;

  box-shadow: 5px 0 7px -5px rgba(158, 158, 158, 0.7),
    -5px 0 7px -6px rgba(158, 158, 158, 0.7);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.Row {
  display: flex;
  justify-content: center;
}

.bg {
  margin: 3rem;
  font-family: "Roboto", sans-serif;
  content: "Background text";
  position: absolute;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  background: -webkit-radial-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  top: 100;
  left: 100;
  z-index: -1;
  font-size: 150px;
}
